<h1>My Portfolio</h1>
<h3><%= @user.full_name %></h3>
<p>Message me at
  <%= @user.email %></p>
<p>
  Created at
  <%= @user.created_at %>
</p>
<p>
<%= link_to 'Edit', edit_user_registration_path(@user), class: 'btn btn-primary' %>
</P>
<div>
  <table id="user-stocks" class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ticker</th>
      <th scope="col">Price</th>
      <th scope="col">Company</th>
      <th scope="col">Searched</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @stocks || 'No active stocks' %>
  </tbody>
</table>
</div>

<div id="plot-container">
  <svg id="plot"></svg>
</div>
